.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #222; 
  color: #f8f8f8;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 99; 
  overflow-y: auto; 
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  z-index: 100; 
}

.sidebar-section {
  margin-bottom: 30px;
}

.sidebar-section h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #3365fa; 
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 6rem;
}

.no-items-message {
  font-style: italic;
  color: #bbb;
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
}

.sidebar-movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-movie-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #444;
  font-size: 0.95em;
}

.sidebar-movie-item:last-child {
  border-bottom: none;
}

.sidebar-movie-poster {
  width: 50px; 
  height: 75px; 
  object-fit: cover;
  border-radius: 5px;
}

.sidebar-movie-title {
  flex-grow: 1; 
  color: #f8f8f8;
  font-weight: bold;
}

.sidebar-movie-rating {
  font-size: 0.8em;
  color: #aaa;
}

.remove-item-btn {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px;
  transition: color 0.2s ease;
}

.remove-item-btn:hover {
  color: #3365fa;
}